* {
    font-family: "Inter", sans-serif;
}

.p-datatable-frozen-view {
    z-index: 2;
    /* Ensure this is higher than non-frozen content */
}

.p-datatable-scrollable-view {
    z-index: 1;
}

.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dropdown {
    border: none;
    padding: 10px;
    font-size: 16px;
    border-right: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-input {
    border: none;
    padding: 10px;
    font-size: 16px;
    flex: 1;
    outline: none;
}

.search-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
    outline: none;
}

.search-icon {
    width: 20px;
    height: 20px;
}